
<img src="http://farm8.staticflickr.com/7355/12187953754_7a05c15663_o.jpg" />

<div>
<%= link_to 'What we do', root_path, :class=>"btn btn-lg btn-warning" %>
<%= link_to 'Book an appointment!', root_path, :class=>"btn btn-lg btn-warning" %>
</div>