
<!-- 

<div>
</div> -->

<div class="inner cover">
    <h1 class="cover-heading"><%= I18n.t('homepage.weare') %></h1>
        <img class="lead" src="http://farm8.staticflickr.com/7355/12187953754_7a05c15663_o.jpg" />
        <p class="lead">
            <%= link_to I18n.t('homepage.what'), about_path, :class=>"btn btn-lg btn-warning", :id=>"button1" %>
			<%= link_to I18n.t('homepage.book'), appointment_step_path(:place), :class=>"btn btn-lg btn-warning", :id=>"button2" %>
        </p>
</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />